body {
	margin		: 40px auto;
	max-width	: 650px;
	line-height	: 1.6;
	font-size	: 18px;
	color		: #444;
	padding		: 0 10px;
	background: #FAFAFA;
}
#container {
	margin		: 40px auto; 
	width 		: 600px;
	height 		: 600px;
	background 	: white;
}
#playground {
	
}